
Scripts/.Rhistory

# ignore all .png figure outputs
Figures/*.png

# ignore subfolders
Figures/**

# ignore all excel outputs
Outputs/*.xlsx
.Rproj.user

# ignore all csv and txt files from sims
Outputs/*.txt
Outputs/*.csv

*.RData
