
Scripts/.Rhistory

# ignore all .png figure outputs
Figures/*.png

# Ignore all .png files globally
*.png

# ignore subfolders
Figures/**

# ignore all outputs
.Rproj.user

# Ignore everything in the Outputs folder
Outputs/

*.RData
